
.App {
  text-align: center;
}
.background{

  background-image: url("https://economictimes.indiatimes.com/thumb/msid-82060285,width-1200,height-900,resizemode-4,imgsize-305894/art-auction_istock.jpg?from=mdr");
position: relative;
height: 720px;
}

.toast-su {
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
}

#page {
  display: flex;
  height: 400px;
}

#sideBar {
  min-width: 100px;
  max-width: 100px;
  background: purple;
  color: white;
}

#content {
  width: 100%;
}
.statistics{
  margin-left: 80px;
  padding: 20px;
  border: 1px solid black;
  border-collapse: collapse;
  alignItems: center;
}
#statistics1{
  margin-left: 80px;
  padding-left: 150px;
  border: 1px solid black;
  border-collapse: collapse;
  alignItems: center;
}
/*#statistics2{*/
/*  border: 1px solid black;*/
/*  border-collapse: collapse;*/
/*}*/
.auctionTable{
  border: 1px solid black;
  border-collapse: collapse;
  justify-content: center;
  margin-left: 250px;
  margin-bottom: 10px;

}

.auctionTable td{
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 50px;
;
}

.auctionTable tr{
  border: 1px solid black;
  border-collapse: collapse;
  margin-right: 50px;
}

.auctionTable th{
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 150px;
}

TextField {
background-color:lightgreen;
  color:green;

}

.Buttons {
  position: relative;
  top: 50px;
  width: 260px;
  background-color: rgba(204, 159, 9, 0.06);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 30px;
  font-family: Aharoni, serif;
  font-weight: bold;
  /*font-family: Fjalla One, serif;*/
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}


*{

  color: #070533;

}

.toast-su {
}

.Buttons:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 3;
  box-shadow:
          1px 1px #423c85,
          2px 2px #4d4881,
          3px 3px #525073;

}